<a href="https://colab.research.google.com/github/MHassaanButt/Pulling-Data-from-ESPN-of-NCAAF/blob/main/ESPN_NCAAF_Play_by_Play_DataScraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Important Liberaries

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re

## URL for scraping data

In [2]:
url = 'https://www.espn.com/college-football/scoreboard'

In [3]:
page = requests.get(url)

In [4]:
#Getting page content
# page.content

In [5]:
soup = BeautifulSoup(page.content, "html.parser")

In [6]:
# soup

In [7]:
scoreboard=soup.findAll(attrs={'name':"description"})

In [8]:
scoreboard

## Match 1

In [9]:
url1 = 'https://www.espn.in/college-football/playbyplay?gameId=401287886'
page1= requests.get(url1)
page1.content
match_1_soup = BeautifulSoup(page1.content, "html.parser")
match_1_info =match_1_soup.findAll(attrs={'class': 'team-name'})

In [10]:
away_1=match_1_info[0].text.replace("TTU", "")
home_1=match_1_info[3].text.replace("HOU", "")
play_1_soup=match_1_soup.find(attrs={'class': 'drive-list'})
rep1 = {"\n": "", "\t": ""} # define desired replacements here
# # use these three lines to do the replacement
rep1 = dict((re.escape(k), v) for k, v in rep1.items()) 
# #Python 3 renamed dict.iteritems to dict.items so use rep.items() for latest versions
pattern1 = re.compile("|".join(rep1.keys()))
playbyplay_1 = pattern1.sub(lambda m: rep1[re.escape(m.group(0))], play_1_soup.text)
playbyplay_1
match_1= [[home_1,away_1,playbyplay_1]]
df1 = pd.DataFrame(match_1, columns=["Home","Away","Play-by-Play"])

In [11]:
df1

             Home  ...                                       Play-by-Play
0  HoustonCougars  ...  (15:00 - 1st) Trey Wolff kickoff for 65 yds fo...

[1 rows x 3 columns]

## Match 2

In [12]:
url2 = 'https://www.espn.in/college-football/playbyplay?gameId=401282799'
page2= requests.get(url2)
page2.content
match_2_soup = BeautifulSoup(page2.content, "html.parser")
match_2_info =match_2_soup.findAll(attrs={'class': 'team-name'})

In [13]:
away_2=match_2_info[0].text.replace("OSU", "")
home_2=match_2_info[3].text.replace("NEB", "")
play_2_soup=match_2_soup.find(attrs={'class': 'drive-list'})
rep2 = {"\n": "", "\t": ""} # define desired replacements here
# # use these three lines to do the replacement
rep2 = dict((re.escape(k), v) for k, v in rep2.items()) 
# #Python 3 renamed dict.iteritems to dict.items so use rep.items() for latest versions
pattern2 = re.compile("|".join(rep2.keys()))
playbyplay_2 = pattern2.sub(lambda m: rep2[re.escape(m.group(0))], play_2_soup.text)
playbyplay_2
match_2= [[home_2,away_2,playbyplay_2]]
df2 = pd.DataFrame(match_2, columns=["Home","Away","Play-by-Play"])

In [14]:
df2

                  Home  ...                                       Play-by-Play
0  NebraskaCornhuskers  ...  (15:00 - 1st) Brendan Franke kickoff for 65 yd...

[1 rows x 3 columns]

## Match 3

In [15]:
url3 = 'https://www.espn.in/college-football/playbyplay?gameId=401282769'
page3= requests.get(url3)
page3.content
match_3_soup = BeautifulSoup(page3.content, "html.parser")
match_3_info =match_3_soup.findAll(attrs={'class': 'team-name'})

In [16]:
away_3=match_3_info[0].text.replace("MD", "")
home_3=match_3_info[3].text.replace("OSU", "")
play_3_soup=match_3_soup.find(attrs={'class': 'drive-list'})
rep3 = {"\n": "", "\t": ""} # define desired replacements here
# # use these three lines to do the replacement
rep3 = dict((re.escape(k), v) for k, v in rep3.items()) 
# #Python 3 renamed dict.iteritems to dict.items so use rep.items() for latest versions
pattern3 = re.compile("|".join(rep3.keys()))
playbyplay_3 = pattern3.sub(lambda m: rep3[re.escape(m.group(0))], play_3_soup.text)
playbyplay_3
match_3= [[home_3,away_3,playbyplay_3]]
df3 = pd.DataFrame(match_3, columns=["Home","Away","Play-by-Play"])

In [17]:
df3

                 Home  ...                                       Play-by-Play
0  Ohio StateBuckeyes  ...  (15:00 - 1st) Noah Ruggles kickoff for 61 yds ...

[1 rows x 3 columns]

## Combining All dfs of matches

In [18]:
pdList = [df1, df2, df3]  # List of your dataframes
com_df = pd.concat(pdList)

In [19]:
com_df

                  Home  ...                                       Play-by-Play
0       HoustonCougars  ...  (15:00 - 1st) Trey Wolff kickoff for 65 yds fo...
0  NebraskaCornhuskers  ...  (15:00 - 1st) Brendan Franke kickoff for 65 yd...
0   Ohio StateBuckeyes  ...  (15:00 - 1st) Noah Ruggles kickoff for 61 yds ...

[3 rows x 3 columns]

## Writing CSV

In [20]:
com_df.to_csv('Final.csv', index=False)